<h1>List of robs</h1>

     <% @user.each do |user| %>
  <tr>
    <td><%= user.title %></td>
    <td><%= user.content %></td>

    <td><%= link_to 'Check the details', user_path(user.id) %></td>
    <td><%= link_to "Edit this user", edit_user_path(user.id) %></td>
     <td><%= link_to 'Post a new user', new_user_path %></td>
  </tr>
<% end %> 
<%= link_to 'Post a new user', new_user_path %>
    </article>
  
    </div>
